# py
__pycache__/
.venv/
venv/
# node
node_modules/
# secret
.env*
!.env.template
!.env.sample
!.env.example
# tmp dir
/tmp/
/tests/tmp/
# build
build/
dist/
*.egg-info/
# coverage
.coverage
htmlcov/
coverage.xml
junit.xml
# tox
.tox/
# sphinx
docs/build/
docs/**/*.mo
# JetBrains
.idea/
# cursor
.cursor/
.cursorignore
# claude
.claude/
# macOS
.DS_Store
